<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow access to files in the storage directory
    RewriteCond %{REQUEST_URI} ^/storage/
    RewriteRule ^ - [L]

    # Allow access to files if they exist
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Redirect all other requests to the Laravel application
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
